{% extends 'portfolio/base.html' %}
{% load static %}



{% block content %}
    <h1>This is my portfolio</h1>
    <img src="{% static 'portfolio/tree.jpg' %}"><br>
    {% for project in projects %}
        <img src="{{ project.image.url }}" alt=""><br>
        {% if project.url %}
            <a href="{{ project.url }}">Link</a>
        {% endif %}
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
    {% endfor %}
    <a href="{% url 'blog:all_blogs' %}">Blogs</a>
{% endblock %}
